$indigoColor: #42a5f5;
$blueGreyLightenColor-1: #90a4ae;
$blueGreyLightenColor-4: #cfd8dc;

@mixin user-select-none() {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */   
}

@mixin horizontal-center-absolute-element() {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

/* Absolute center - vertical and horizontal */
@mixin horizontal-vertical-center-absolute-element() {
	@include horizontal-center-absolute-element;
	top: 0;
	bottom: 0;
	margin: auto;
}

@mixin timer-arrow-nums-same-styles() {
	@include horizontal-vertical-center-absolute-element;
	@include user-select-none;
	animation-duration: .3s;
}


#timer-block {
	margin-top: 120px;
}

.timer {
	position: relative;
	display: inline-block;
	width: 280px;
	height: 280px;
	border: 3px solid $indigoColor;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
}

.timer:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* Timer start arrow */

.timer-start_arrow {
	@include timer-arrow-nums-same-styles;
	height: 40%;
}

.timer-start_arrow .triangle {
	@include horizontal-vertical-center-absolute-element;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 33px 0 33px 55px;
	border-color: transparent transparent transparent $blueGreyLightenColor-4;
}

/* Timer big nums */

.timer-nums {
	@include timer-arrow-nums-same-styles;
	color: $blueGreyLightenColor-1;
	padding-top: 5px;
	font-size: 5.5rem;
	font-weight: 200;
	height: 45%;
	/* display: none; */
}

/* Timer pause time */

.timer-pause_time {
	@include user-select-none;
	@include horizontal-center-absolute-element;
	bottom: 8%;
	font-size: 2rem;
	font-weight: 300;
	color: $blueGreyLightenColor-1;
	animation-duration: .4s;
	/* display: none; */
}

.hidden {
	display: none;
}

.display-block {
	display: block;
}
