$blueLighten-1: #42a5f5;
$blueGreyLightenColor-1: #90a4ae;
$blueGreyLightenColor-4: #cfd8dc;
$green: #4caf50;
$red: #f44336;
$brownLighten-5: #efebe9;
$brownLighten-4: #d7ccc8;
$brownLighten-2: #a1887f;
$greyDarken-3: #424242;

@import '../imports/ui/app/dashboard/Dashoard.scss';
@import '../imports/ui/app/dashboard/masterboard/Masterboard.scss';
@import '../imports/ui/app/dashboard/masterboard/timer/TimerButtons.scss';
@import '../imports/ui/app/dashboard/masterboard/stats/Stats.scss';
@import '../imports/ui/app/dashboard/masterboard/activities/Activities.scss';
@import '../imports/ui/app/dashboard/masterboard/activities/activity/Activity.scss';
@import '../imports/ui/app/dashboard/masterboard/tabs/Tabs.scss';
@import '../imports/ui/app/dashboard/profile/Profile.scss';
@import '../imports/ui/app/sidebar/SideNav.scss';
@import '../imports/ui/header/Header.scss';
@import '../imports/ui/account/LoginSignup.scss';