.nav-header {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #fff;
	position: relative;
	z-index: 10;
	/* margin-bottom: 70px; */
}

.nav-header img {
	margin-top: 7px;
	height: 50px;
}

.nav-header ul li a {
	color: #424242;
}

/* Temp styles for top current activity label */

.current-activity {
	margin-left: 20px;
	color: black;
	font-size: 1.5rem;
}

.activity-name {
	color: red;
	display: inline-block;
	font-size: 1.5rem;
}