.profile-container {
	padding-left: 30px;
	width: 90%;

	h3 {
		margin-bottom: 40px;
		color: $greyDarken-3;
	}

	.avatar-row {

		margin-bottom: 30px;

		.avatar {
			/* float: left; */
			display: inline-block;
			padding: 30px 37px;
			color: $blueGreyLightenColor-1;
			border: 2px solid $blueGreyLightenColor-1;
			border-radius: 50%;
			cursor: pointer;
			transition: all .15s ease-out;
		}

		.avatar:hover {
			border: 2px solid $green;
			opacity: 0.8;
		}

	}

	.save-btn {
		padding-left: 35px;
		padding-right: 35px;
	}


	.dropdown-content li a {
		color: #607d8b;
	}

	.dropdown-button {
		padding-left: 25px;
		padding-right: 25px;
	}

	.collection {

		margin-left: 20px;

		a.collection-item {
			color: $blueGreyLightenColor-1;

			i {
				float: left;
				padding-right: 10px;
			}
		}

	}
}