@mixin transition-thumbnail() {
  -o-transition: opacity .15s ease-out;
  -ms-transition: opacity .15s ease-out;
  -moz-transition: opacity .2s ease;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

@mixin transform-thumbnail() {
	-o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.profile-container {
	padding-left: 30px;
	width: 90%;

	h3 {
		margin-bottom: 40px;
		color: $greyDarken-3;
	}

	.avatar-row {

		margin-bottom: 30px;

		.avatar-icon {
			display: inline-block;
			padding: 30px 37px;
			color: $blueGreyLightenColor-1;
			border: 2px solid $blueGreyLightenColor-1;
			border-radius: 50%;
			cursor: pointer;
			transition: all .15s ease-out;
		}

		.avatar-icon:hover {
			border: 2px solid $green;
			opacity: 0.8;
		}

		.thumbnail {
			@include transition-thumbnail;
			position: relative;
			height: 137px;
			width: 137px;
			overflow: hidden;
			border: 2px solid $green;
			border-radius: 50% !important;
			margin: 0 auto;
		    cursor: pointer;
		}

		.avatar-img {
			@include transform-thumbnail;
			text-align: center;
			position: absolute;
			left: 50%;
			top: 50%;
			height: 100%;
			width: auto;
		}

		.thumbnail:hover {
			opacity: 0.8;
		}

	}

	.save-btn {
		padding-left: 35px;
		padding-right: 35px;
	}


	.dropdown-content li a {
		color: #607d8b;
	}

	.dropdown-button {
		padding-left: 6px;
		padding-right: 6px;
		/* font-size: 15px; */
	}

	.collection {

		margin-left: 20px;

		a.collection-item {
			color: $blueGreyLightenColor-1;

			i {
				float: left;
				padding-right: 10px;
			}
		}

	}
}